<div class="d-flex justify-content-between align-items-center mb-3">
  <h1>자유 게시판</h1>
  <%= link_to  "새 글 쓰기", new_post_path, class: "btn btn-primary" %>
</div>


<% if notice %>
  <div class="alert alert-success"><%= notice %></div>
<% end %>

<table class="table table-hover table-striped">
  <thead class="table-dark">
    <tr>
      <th scope="col" style="width: 10%;">번호</th>
      <th scope="col">제목</th>
      <th scope="col" style="width: 20%;">관리</th>
    </tr>
  </thead>
  <tbody>
    <%# |post,index| -> 게시글(post)과 인덱스(index)를 같이 꺼냅니다 %>
    <% @posts.each_with_index do |post, index| %>
      <tr>
        <th><%= index + 1 %></th>

        <td>
          <%= link_to  post.title, post, class: "text-decoration-none text-dark fw-bold" %>
        </td>
        <td>
          <div class="d-flex gap-2">
            <%= link_to  "수정", edit_post_path(post), class: "btn btn-sm btn-outline-warning" %>

            <%= link_to post, 
            data: { turbo_method: :delete, turbo_confirm: "정말 삭제하시겠습니까?" }, 
            class: "btn btn-sm btn-outline-danger" do %>
            삭제  
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
