<% content_for :title, "게시글 작성" %>

<h1>새 글 쓰기</h1>

<%# 글 작성 기준을 위반 했을 때 에러 메세지 표시 %>
<%# 유효성 검사 실패 확인 %>
<%# @post.errors: 모델이 검사하다가 발견한 에러들이 담긴 바구니 %>
<%# .any?: 바구니에 에러가 하나라도 있니? (없으면 블록은 실행 안 됨) %>
<% if @post.errors.any? %>
  <div style="border: 2px solid red; padding: 10px; margin-bottom: 
  20px; color: red;">
    
    <%# 에러 개수 알려주기 %>
    <%# .count: 에러가 총 몇개인지 개수를 셈 %>
    <h3>저장하지 못 했습니다. (<%= @post.errors.count %>개의 오류)</h3>

    <ul>
      <%# 에러 내용 하나씩 꺼내기 (반복문) %>
      <%# .full_messages: "제목은 필수입니다" 같이 완선된 문장들을 가져옴 %>
      <%# .each do |msg|: 문장을 하나씩 꺼내서 'msg' 변수에 담고 반복함 %>
      <% @post.errors.full_messages.each do |msg| %>
        <%# 에러 문장 화면에 찍기 %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%# @post가 비어있으면 "새 글 작성(create)" 모드로 %>
<%# 내용이 있으면 "수정(update)"모드로 알아서 변신 %>
<%= form_with model: @post do |form| %>
  <div style="margin-bottom: 10px;">
    <%# 제목 입력란(라벨 + 한 줄 입력칸) %>
    <%# 입력창 옆에 "제목"이라는 글시를 붙여줌 %>
    <%# 시각장애인용 스크린 리더 등을 위해서도 필수 %>
    <%= form.label :title, "제목" %> <br>
    <%# HTML의 <input type="text">를 생성 %>
    <%# 여기 쓴 글은 DB의 title 칸으로 들어감 %>
    <%= form.text_field :title %>
  </div>

  <div style="margin-bottom: 10px;">
    <%# 내용 입력란 (라벨 + 여러 줄 입력칸) %>
    <%= form.label :content, "내용" %> <br>
    <%# HTML의 <textarea>를 생성 %>
    <%# 글 내용처럼 긴 텍스트를 쓸 때 사용 %>
    <%# DB의 content 칸과 연결됨  %>
    <%= form.text_area :content, rows: 10, style: "width: 100%; box-sizing: border-box;" %>
  </div>

  <div>
    <%# 전송 버튼 %>
    <%# 클릭하면 입력한 데이터들을 컨트롤러의 create 액션으로 보냄 %>
    <%= form.submit "저장하기" %>
  </div>
<% end %>

<hr>
<a href="/posts">목록으로 돌아가기</a>